.shoppingListContainer {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding-bottom: 15vh;
}
.shoppingListItemContainer {
  display: flex;
  background-color: white;
  padding: 5px 10px;
  align-items: center;
  border-radius: 13px;
  margin: 5px 0;
  transition: margin 0.4s, padding 0.4s;
}
.shoppingListItemContainer * {
  transition: opacity 0.4s;
}
.shoppingHide {
  margin: 0;
  padding: 0;
  height: 0;
  pointer-events: none;
}
.shoppingHide * {
  opacity: 0;
}

.dragIcon {
  flex-grow: 1;
  cursor: grab;
  padding: 10px;
  justify-self: flex-end;
}
