.tagListItemContainer {
  display: flex;
  border-radius: 12px;
  background: #fffdf5;
  align-items: flex-start;
  gap: 5px;
  padding: 5px 10px 15px 10px;
  transition: opacity 0.2s, transform 0.5s;
  margin: 4px 0;
  flex-direction: column;
  /* overflow-x: hidden; */
}

.tagItemHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #44390b;
}

.tagItems {
  align-items: stretch;
  display: grid;
  /* gap: 5px; */
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-wrap: wrap; */
  padding: 0 36px;
  color: grey;
  width: 100%;
  width: -moz-available;
}
/* .tagItems li {
  width: 50%;
} */

.tagItems p {
  margin: 0;
}

.hide {
  transform: scale(0) translateY(-402px);
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.deleteTagContainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: grey;
  border: 1px dotted #d8b71f;
  border-radius: 8px;
  margin: 5px 0;
}
.deleteIcon{
  height: 36px;
  width: auto;
}
