.tagListItemContainer {
  display: flex;
  border-radius: 12px;
  background: #fffdf5;
  align-items: flex-start;
  gap: 5px;
  padding: 5px 10px 15px 10px;
  transition: opacity 0.2s, transform 0.5s;
  margin: 4px 0;
  flex-direction: column;
  /* overflow-x: hidden; */
}

.tagItemHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tagItems {
  display: flex;
  flex-wrap: wrap;
  padding: 0 36px;
  color: grey;
  width: fit-content;
}
.tagItems li {
  width: 50%;
}

.tagItems p {
  margin: 0;
  padding-left: 25px;
}

.hide {
  transform: scale(0) translateY(-402px);
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
