.statsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  padding-top: 30px;
}
.statsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.statHeaderLabel {
  font-weight: 300;
  margin: 10px 0;
}
.statHeaderText {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 26px;
  font-weight: 500;
}
.statHeaderText p {
  flex-shrink: 0;
  margin: 0;
  padding-top: 9px;
}
.calendarIconContainer {
  width: 46px;
  height: 49px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendarText {
  margin: 0;
  padding-top: 8px;
}

.storeLocationLabel {
  color: #44390b;
  margin: 20px 0 10px 5px;
}
.statsLocationContainer {
  border-radius: 11px;
  border: 1px solid #ffe880;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}
.statsLocationHeader {
  display: flex;
  padding: 10px;
  gap: 30px;
  min-height: 38px;
  align-items: center;
}
.shopHeaderInfoContainer {
  display: flex;
}
.shopHeaderInfoText {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  opacity: 1;
  font-size: unset;
  transition: all 0.5s;
}
.shopHeaderInfoText p {
  margin: 0;
  color: #44390b;
}
.shopHeaderDistanceText {
  color: #c6ae42 !important;
  font-size: 12px;
}
.shopHeaderHidden {
  opacity: 0;
  font-size: 0 !important;
}
.shopHeaderHidden .shopHeaderDistanceText {
  font-size: 0;
}

.gmnoprint {
  display: none !important;
}
.gm-style-cc {
  display: none;
}
