.createTagContainer {
    display: flex;
    flex-direction: column;
    height: 30px;
    border-radius: 12px;
    border: 1px dashed #d8b71f;
    background: rgba(255, 255, 255, 0.70);
    gap: 5px;
    padding: 5px 10px 10px 10px;
    transition: height 0.2s;
    margin: 4px 0;
    /* overflow: hidden; */
  }

.createTagMax{
    height:auto;
}

.createTagHeader{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 0;
}

.addTagIcon {
    width: 15px;
    transition: transform 0.5s;
}
.addTagLabel {
    color: #d8b71f;
    transition: all 0.2s;
}
.labelOnExpand{
    transform: scale(0);
}
.iconOnExpand {
    transform: rotate(45deg);
}

.createTagBody{
    color: grey;
}
.inputContainer{
    border-radius: 8px;
    background-color: white;
    /* border: 1px solid #d8b71f; */
}
.createTagBody input{
    height: 25px;
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: transparent;
}
textarea:focus, input:focus{
    outline: none;
}

button{
    border: 1px black;
    border-radius: 8px;
    /* height: 25px; */
    margin: 10px 0px;
    color: grey;
    background-color: #ffe880;
    border: 1px dotted #d8b71f;
    padding: 5px;
    margin: 10px 0 0 0;
}