.createTagContainer {
  display: flex;
  flex-direction: column;
  height: 30px;
  border-radius: 12px;
  border: 1px dashed #d8b71f;
  background: rgba(255, 255, 255, 0.7);
  gap: 5px;
  padding: 5px 10px 10px 10px;
  transition: height 0.2s;
  margin: 4px 0;
  /* overflow: hidden; */
}

.createTagMax {
  height: auto;
}

.createTagHeader {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 0;
}

.addTagIcon {
  width: 15px;
  transition: all 0.5s;
}
.addTagLabel {
  color: #d8b71f;
  transition: all 0.2s;
}
.labelOnExpand {
  transform: scale(0);
}
.iconOnExpand {
  transform: rotate(45deg);
  scale: 1.2;
}

.createTagBody {
  color: grey;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  height: 50px;
  padding: 0 5px;
   border-radius: 8px;
  /*background-color: white;
  height: 25px;
  border: 1px solid #d8b71f; */
}
.tagItemsSearchSuggestions {
  background-color: white;
  /* border: 1px dotted #d8b71f; */
  border-radius: 5px;
  padding: 0 5px;
}
.tagItemsSearchSuggestions p {
  margin: 2px;
}
.selectedItem {
  display: flex;
  gap: 8px;
  background-color: #ffe880;
  border-radius: 8px;
  padding: 0 5px;
  margin: 10px 0px;
  align-items: center;
  flex: none;
}
.createTagBody input {
  height: 25px;
  border: none;
  border-radius: 8px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: "Nunito";
  color: grey;
  font-size: 16px;
}
textarea:focus,
input:focus,
select:focus {
  outline: none;
}
.tagNameInput{
  flex: 1;
}
.selectedItemsContainer {
  display: flex;
  overflow-x: scroll;
  gap: 5px;
  flex: 2;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.selectedItemsContainer::-webkit-scrollbar {
  display: none;
}

.deleteItemIcon {
  transform: rotate(45deg);
  width: 15px;
}

.saveTag {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  height: 25px;
  color: grey;
  background-color: #ffe880;
  /* border: 1px dotted #d8b71f; */
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  font-family: "Nunito";
  padding: 3px 0px;
}
