@import url("https://fonts.googleapis.com/css?family=Nunito:300,500,700&display=swap");

:root {
  --light-yellow: #fffdf5;
  --primary-yellow: #ffe880;
  --desktop-triplet-container-margins: 10px 15px;
  --checkbox-size: 35px;

  --search-bar-width: 55vw;
  /* Planning section */
  --separator-size: 2vh;
  --separator-border-radius: 15px;
  --planning-min-height: 100px;
  --planning-max-height: 50vh;
  --planning-list-height: 30vh;
}

body {
  margin: 0;
  font-family: "Nunito";
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
