.content {
  height: 100vh;
  overflow: scroll;
  background-color: var(--light-yellow);
  display: flex;
  flex-direction: column;
}

html {
  -webkit-tap-highlight-color: transparent;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60svh;
}
.emptyContainer p {
  color: #d8b71f;
  margin: 0;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
