.bcs-parent {
  position: relative;
  display: grid;
  justify-items: right;
  border-radius: 8px;
  border: 1px solid #d8b71f;
}

.searchSuggestionsParent {
  position: absolute;
  bottom: 100%;
  width: -webkit-fill-available; /* For WebKit browsers */
  width: -moz-available; /* For Firefox browsers */
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ffe880;
  font-size: 15px;
  max-height: 30vh;
  overflow: auto;
}

.flex-grow-2 {
  flex-grow: 2;
}

.hidden {
  opacity: 0;
  /* display: none; */
}

#toggleButton,
#reader,
#searchTextInput {
  grid-area: 1 / 1;
  transition: width 0.5s, opacity 0.4s;
}

#toggleButton {
  position: relative;
  width: 50px;
  margin: 5px;
  z-index: 2;
  align-self: center;
}

#reader {
  width: -webkit-fill-available;
  width: -moz-available;

  /* background: red; */
  height: 50px;
  border-radius: 8px;
  z-index: 0;
}

#reader video {
  /* width: -webkit-fill-available !important;
  width: -moz-available !important; */

  display: block;
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
}

#searchTextInput {
  width: var(--search-bar-width);
  /* width: -webkit-fill-available;
  width: -moz-available;  */
  border-radius: 8px;
  z-index: 1;
  border: none;
  font-family: "Nunito";
  font-size: 15px;
  padding: 0 10px;
}

#searchTextInput:focus {
  outline: none;
}

/* desktop */
@media only screen and (min-width: 768px) {
  .searchSuggestionsContainer {
    top: 100%;
    bottom: unset;
    margin-top: 10px;
  }
}
