.bcs-parent {
  position: relative;
  flex-grow: 5;
  display: grid;
  justify-items: right;
  border-radius: 8px;
  border: 1px solid #d8b71f;
  margin: 0 10px;
}

.searchSuggestionsParent {
  position: absolute;
  bottom: 100%;
  width: -webkit-fill-available; /* For WebKit browsers */
  width: -moz-available; /* For Firefox browsers */
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ffe880;
  font-size: 15px;
  max-height: 30vh;
  overflow: auto;
}

.flex-grow-2 {
  flex-grow: 2;
}

.hidden {
  opacity: 0.2; /* for testing, set to 0 in production*/
  /* display: none; */
}

#toggleButton,
#reader,
#searchTextInput {
  grid-area: 1 / 1;
  transition: width 0.5s, opacity 0.4s;
}

#toggleButton {
  position: relative;
  width: 50px;
  margin: 5px;
  z-index: 2;
  align-self: center;
}

#reader {
  width: -webkit-fill-available; /* For WebKit browsers */
  width: -moz-available; /* For Firefox browsers */

  /* background: red; */
  height: 50px;
  border-radius: 8px;
  z-index: 0;
}

#reader video {
  width: -webkit-fill-available !important; /* For WebKit browsers */
  width: -moz-available !important; /* For Firefox browsers */

  display: block;
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
}

#searchTextInput {
  width: -webkit-fill-available; /* For WebKit browsers */
  width: -moz-available; /* For Firefox browsers */
  border-radius: 8px;
  z-index: 1;
  border: none;
  font-family: "Nunito";
  font-size: 15px;
  padding: 0 10px;
}

#searchTextInput:focus {
  outline: none;
}

/* desktop */
@media only screen and (min-width: 768px) {
  .searchSuggestionsContainer {
    top: 100%;
    bottom: unset;
    margin-top: 10px;
  }
}
