.bcs-parent {
  display: flex;
  background-color: blue;
  width: 50vw;
  margin: 0 0 100px 0;
}

.bcs-parent button {
  height: 100%;
}

#reader {
  width: 500px;
  background: red;
  height: 100px;
  margin-bottom: 50px;
}

#reader video {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
