.planning {
  background-color: var(--primary-yellow);
  position: fixed;
  width: 100vw;
  bottom: 0;
  height: var(--planning-min-height);
  display: flex;
  flex-direction: column;
  transform: translateY(0%);
  transition: height 0.5s, transform 0.5s;
}

.hidePlanning {
  transform: translateY(100%);
}
.planning.max {
  height: var(--planning-max-height);
}

.planningMainContainer {
  width: 96%;
  align-self: center;
}
.planning.min .planningMainContainer {
  height: 100%;
}
.planning.max .planningMainContainer {
  padding-top: 10px;
}
.planning.min .iNeedContainer {
  height: 90%;
}
.planning.max .iNeedContainer {
  padding-bottom: 5px;
}
.iNeedContainer {
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
}

.expandArrow {
  transition: transform 0.5s;
}
.planning.max .expandArrow {
  transform: rotate(180deg);
}

.iNeedLabel {
  margin: 0 5px;
  flex-shrink: 0;
}

.planning.max .iNeedLabel {
  display: none;
}

.tagIconSearchSpacerContainer {
  display: flex;
}
.planning.min .tagIcon {
  transform: scale(0);
  width: 0;
  padding: 0;
  border: none;
  opacity: 0;
}

.tagIcon {
  border-radius: 8px;
  background: #fffdf5;
  padding: 10px;
  border: 1px solid #d8b71f;
  cursor: pointer;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s, opacity 0.5s;
  margin-right: 5px;
}
.dimmed {
  opacity: 0.5;
}

.styledSeparator {
  background-color: var(--light-yellow);
  height: var(--separator-size);
  width: 100vw;
  border-radius: 0 0 var(--separator-border-radius)
    var(--separator-border-radius);
}

.planning.min .planningTagsListContainer {
  display: none;
}

.planningTagsListContainer {
  display: flex;
  flex-direction: column;
  height: var(--planning-list-height);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 10vh;
}
.planningTagsListContainer::-webkit-scrollbar {
  display: none;
}
/* desktop */
@media only screen and (min-width: 768px) {
  .planning {
    right: 0;
    height: 100vh !important;
    width: 33vw;
    flex-direction: row;
  }
  .styledSeparator {
    height: 100vh;
    width: var(--separator-size);
    border-radius: 0 var(--separator-border-radius)
      var(--separator-border-radius) 0;
  }

  .planningMainContainer {
    display: flex;
    flex-direction: column;
    margin: var(--desktop-triplet-container-margins);
    height: unset !important;
    align-self: flex-start;
  }

  .expandArrow {
    display: none;
  }

  .planningListContainer {
    display: unset !important;
  }
}
